textarea {
    min-height: 400px;
}

.card {
    margin-bottom: 10px;
}

.read {
    background-color: lightgray;
}

.buttons {
    margin-top: 10px;
}

#send-button {
    margin-top: 15px;
}

.mail-date {
    text-align: right;
    color: gray;
}
